#main-div {
    width: auto;
    height: 100vh;
    position: relative;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

nav {
    display: flex;
    background-color: rgb(88, 88, 88);

    justify-content: center;

    border: solid;
    border-color: black;
    color: white;
    width: 100%;
    text-wrap: 50%;
    position: absolute;
    top: 0;
}

form {
    
    display: flex;
    flex-direction: column;
    align-items: center;;
    margin-bottom: 50px;
    width: 50%;
}

#submit_button {
    background-color: lightgreen;
    border-radius: 30%;
    width: 150px;
}

#submit_button:hover {
    background-color: green;
}

#url-box {
    width: 50%;
    overflow-wrap:break-word;
}


footer {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: fit-content;
    position:absolute;
    bottom: 0;
    color: white;

}